.app{
    background-color: #F3F5FC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabecalho{
    display: flex;
    align-items: center;
    background-color: #F3F5FC;
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 8px #ccc;
}

.conteudo{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 8rem);
    justify-content: space-between;
    width: 100%;
}

.secaoEsquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%; 
}

#areaTexto{
    height: 100%;
    width: 50%;
    background-color: #F3F5FC;
    border: none;
    align-self: flex-start;
    margin-left: 10rem;
    margin-top: 5rem;
    outline: none;
}







.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.5rem;
    background-color: #F3F5FC;
    border-top: 1px solid #ccc;
    box-shadow: 1px 1px 10px #ccc;
}