*{
    font-family: 'Open Sans', sans-serif
}


.app{
    background-color: #F3F5FC;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.cabecalho{
    width: 100%;
}

.logoTitulo{
    margin-top: 1rem;
}

.conteudo{
    display: flex;
    width: 100%;
    justify-content: center;
}

.secaoEsquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%; 
}

.divTexto{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

#areaTexto{
    height: 60%;
    width: 60%;
    background-color: #F3F5FC;
    border: none;
    margin-top: 1rem;
    outline: none;
    color: #0A3871;
    font-size: 1.5rem;
    resize: none;
}

#areaTexto::-webkit-scrollbar, #resultado::-webkit-scrollbar {
    width: .5rem;
    border: 1px solid rgba(10, 56, 113, .5);
    border-radius: 2rem;
    background-color: #fff
}

#areaTexto::-webkit-scrollbar-thumb, #resultado::-webkit-scrollbar-thumb {
        border: 5px solid rgba(1, 35, 78, 1);
        border-radius: 2rem;
        
}

#areaTexto::placeholder, #resultado::placeholder{
    color: rgba(10, 56, 113, .5);
    font-size: 1.2rem;
}

.alerta{
   display: flex;
   width: 100%;
   padding: .5rem;
   color: rgba(52, 58, 64, .5);
   font-size: .8rem;
    justify-content: center;
    align-items: center;
}

.alerta img{
    margin-right: .3rem;
    opacity: .5;
}

.botoes{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.botao{
    width: 30%;
    height: 4rem;
    border-radius: 1.5rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
}

#copiar{
    background-color: #D8DFE8;
    color: #0A3871;
    width: 60%;
    border: 1px solid #0a3871;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cripto{
    background-color: #0A3871;
    color: #fff;
    margin-right: 1rem;
}

#cripto:hover{
    background-color: #01234e;
}

#descripto{
    background-color: #D8DFE8;
    color: #0A3871;
    margin-left: 1rem;
    border: 1px solid #0A3871;
}

#descripto:hover, #copiar:hover{
    background-color: #fff;
    color: #01234e;
}

.secaoDireita{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    height: calc(100vh - 8rem);
    background-color: #fff;
    border-radius: .7rem;
    box-shadow: 1px 1px 10px #ccc;

}

.secaoDireita img{
    width: 100%;
    height: 50%;
}

.secaoDireita .p1{
    font-size: 1.6rem;
    font-weight: bold;
    color: #343A40;
    width: 70%;
    text-align: center;
} 

.secaoDireita .p2{
    font-size: .85rem;
    color: #495057;
    width: 75%;
    text-align: center;

}

#resultado{
    width:90%;
    height: 60%;
    font-size: 1rem;
    color: #0A3871;
    background: transparent;
    border: none;
    resize: none;
    outline: none;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    background-color: #F3F5FC;
}

.rodape p{
    border-bottom: 1px dotted #0A3871;
}

.rodape a{
    color: #0A3871;
    font-weight: bold;
}

.direitaJs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}